@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');
body
{
 margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
    background: url(bd.jpg);
    background-size: cover;
    background-attachment: fixed;
font-family: 'Josefin Sans', sans-serif;

}

.container
{
    width: 2000px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
 
    
}

.container .box
{
   position: relative;
    width: 280px;
    height: 450px;
    background:#fff;
    transition: 0.5s;
    overflow: hidden;
    
 
    
}



.container .box img
{
   position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
 
    
}

.container .box:before
{
   content: '';
    position: absolute;
    top:-100%;
    left:0;
    width: 50%;
    height: 100%;
    background:#1f669a;
    z-index: 1;
    transition: 0.5s;
  
    
 
    
}

.container .box:after
{
   content: '';
    position: absolute;
    bottom:-100%;
    right:0;
    width: 50%;
    height: 100%;
    background:#1f669a;
    z-index: 1;
    transition: 0.5s;
  

    
}

.container:hover .box:before
{
    top:0;
    
}
.container:hover .box:after
{
    bottom: 0;
    
}

.container:hover .box:before
{
    top:0;
    
}
.container:hover .box:after
{
    bottom: 0;
    
}
.container .box:hover:before
{
    top:-100%;
    
}
.container .box:hover:after
{
    bottom: -100%;
    
}










a:link {
    color: #00000000;
   
}


.contain ul{
 position:fixed;
 top:10%;
 left:50%;
 transform: translate(-50%,-50%);
 margin:0;
 padding: 0;
 display:inline-flex;
}

.contain ul li
{
 list-style: none;
 width:110px;
 height: 110px;
 text-align: center;
 line-height: 30px;
 margin: 0 90px;
 background: rgba(37, 47, 62, 0.68);
 border-radius: 50%;
 color:#000000;
 transition:.5s;
}

.contain ul li:hover{
 background: #fff;
 box-shadow: 0 0 10px rgba(255,255,255,1),
    0 0 20px rgba(255,255,255,1),
    0 0 30px rgba(255,255,255,1),
    0 0 0 75px rgba(255,255,255,0.05),
    0 0 0 60px rgba(255,255,255,0.05),
    0 0 0 50px rgba(255,255,255,0.05),
    0 0 0 40px rgba(255,255,255,0.05),
    0 0 0 30px rgba(255,255,255,0.05);
}






