@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');
body
{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
    background: url(bp.jpg);
    background-size: cover;
    background-attachment: fixed;
font-family: 'Josefin Sans', sans-serif;

}


a:link {
    color: #00000000;
   
}



.contain ul{
 position:fixed;
 top:10%;
 left:50%;
 transform: translate(-50%,-50%);
 margin:0;
 padding: 0;
 display:inline-flex;
}

.contain ul li
{
 list-style: none;
 width:110px;
 height: 110px;
 text-align: center;
 line-height: 30px;
 margin: 0 90px;
 background: rgba(37, 47, 62, 0.68);
 border-radius: 50%;
 color:#000000;
 transition:.5s;
}

.contain ul li:hover{
 background: #fff;
 box-shadow: 0 0 10px rgba(255,255,255,1),
    0 0 20px rgba(255,255,255,1),
    0 0 30px rgba(255,255,255,1),
    0 0 0 75px rgba(255,255,255,0.05),
    0 0 0 60px rgba(255,255,255,0.05),
    0 0 0 50px rgba(255,255,255,0.05),
    0 0 0 40px rgba(255,255,255,0.05),
    0 0 0 30px rgba(255,255,255,0.05);
}





.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
    
}

.card .front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
    
  
}

.card:hover .front{
    transform: rotateX(-180deg);
}

.card .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    
   
    
}


.card:hover .back{
    transform: rotateX(0deg);
}

.card .back .details{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  
}

.card .back .details h2{
 margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
  
}

.card .back .details h1{
 margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
  
}
.card .back .details h2 span{
 
    color: #a7a7a7;
    font-size: 16px;
  
}

.card .back .details h3 span{
 
    color: #a7a7a7;
    font-size: 14px;
  
}




.social-icons a{
    
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    background: #262626;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
}

.social-icons a .fa{
    
line-height: 36px;
}

.social-icons a:hover {
    
background: #e91e63;
}



section
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(bp.jpg);
    background-size: cover;
    background-attachment: fixed;
       
    
}
section .wave{
    
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left: 0;
    background: url(wave.png);
    animation: animate 10s linear infinite;
}

section .wave:before{
    
   content: '';
    width: 100%;
    height: 143px;
    background: url(wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: animate-reverse 10s linear infinite;
  
}

section .wave:after{
    
   content: '';
    width: 100%;
    height: 143px;
    background: url(wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    animation-delay: -5s;
    animation: animate 20s linear infinite;
  
}


@keyframes animate{
    
    0%
    {
        background-position: 0;
    }
    100%
    {
        background-position: 1360px;
    }
    
      
}

@keyframes animate-reverse{
    
    0%
    {
        background-position: 1360px;
    }
    100%
    {
        background-position: 0;
    }
    
      
}




















